# Eclipse
.metadata/
.settings/
.classpath
.project

# Java compiled files
bin/
*.class

# Maven / Spring Boot
target/

# Mac
.DS_Store

# Logs
*.log

# Environment / secrets
.env
application-local.properties
application-local.yml